// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* https://github.com/lucagez/medium.css */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Playfair+Display:700i,900');

.first-letter {
  overflow-wrap: break-word;
  font-family: "Playfair Display", serif;
  font-size: 60px;
  line-height: 60px;
  display: block;
  position: relative;
  float: left;
  margin: 0px 7px 0 -5px;
}

.subtitle {
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.54);
  margin: 0 0 24px 0;
}

.blog-container {
  margin-bottom: 1.5em;
}
.blog-buttons {
  padding: 0px 1.25em;
}

.blog-content {
  padding: 1.25em;
  min-height: 100px;
}

.blog-text {
  padding: 10px;
}


::selection{background-color: lavender}
